@font-face {
  font-family: "iconfont"; /* Project id 2555419 */
  src: url('iconfont.woff2?t=1621321438244') format('woff2'),
       url('iconfont.woff?t=1621321438244') format('woff'),
       url('iconfont.ttf?t=1621321438244') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbijiantou:before {
  content: "\e86d";
}

.icon-zengjia:before {
  content: "\e889";
}

.icon-fangxiangjiantou:before {
  content: "\e73a";
}

.icon-shixinjiantou:before {
  content: "\e73b";
}

.icon-yixuanbukexuan:before {
  content: "\e73f";
}

.icon-monierweima:before {
  content: "\e742";
}

.icon-yuangongmorentouxiang-fang:before {
  content: "\e755";
}

.icon-fangxiangjiantou-copy:before {
  content: "\ecb1";
}

.icon-shixinjiantou-copy:before {
  content: "\ecb2";
}

.icon-youzan:before {
  content: "\e604";
}

.icon-taobao:before {
  content: "\e6e5";
}

.icon-umidd17:before {
  content: "\e623";
}

.icon-chenggong:before {
  content: "\e6b4";
}

.icon-pinduoduo:before {
  content: "\e602";
}

.icon-ziyuan:before {
  content: "\e603";
}

.icon-loading:before {
  content: "\e618";
}

.icon-check-circle:before {
  content: "\e6b0";
}

.icon-close-circle:before {
  content: "\e6b1";
}

.icon-pengyouquan:before {
  content: "\e6b6";
}

.icon-weixin1:before {
  content: "\e6c5";
}

.icon-juxing1:before {
  content: "\e689";
}

.icon-xuanze-shixin:before {
  content: "\e75b";
}

.icon-xuanze:before {
  content: "\e75c";
}

.icon-gengduo:before {
  content: "\e732";
}

.icon-shuaxin:before {
  content: "\e73c";
}

